/*
 * Changes
 */
#nprogress .bar {
  background: var(--vp-c-brand-1);
}

td[colspan] {
  text-align: center;
}

/*
 * Util classes
 */
.badge {
  border-radius: 6px;
  padding: 4px 8px;
}
.badge-green {
  background-color: var(--vp-c-green-3);
}
.badge-red {
  background-color: var(--vp-c-red-3);
}

.text-brand {
  color: var(--vp-button-brand-text);
}
.text-secondary {
  color: var(--vp-c-text-2);
}
